<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/admin-dashboard.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/responsivity.css">
    <link rel="stylesheet" href="/css/personal-details.css">
    <link rel="stylesheet" href="/css/form.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="images/logo.png" alt="">
            </div>

            <span class="logo_name">Welcome</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li value="dashboard" onclick="showSectionDetails('dashboard')"><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li value="department" onclick="showSectionDetails('department')"><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Department</span>
                </a></li>
                <li value="employee_details" onclick="showSectionDetails('employee_details')"><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Employee Details</span>
                </a></li>
                <li value="payroll" onclick="showSectionDetails('payroll')"><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Payroll</span>
                </a></li>
                <li value="addEmployee" onclick="showSectionDetails('addEmployee')"><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Add Employee</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <a href="/logout" ><span class="link-name">Logout</span></a>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>