<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>You are on the Dashboard</h1>
     
    <div class="employeeDetails">
        <p> <strong> Welcome! , <%= user.name %></strong></p>
        <p><b> Name : </b> <%= user.name %></p>
        <p><b> Contact : </b> <%= user.contact %></p>
        <p><b> Email : </b> <%= user.email %></p>
    </div>
         
</body>
</html>