body {
    background: linear-gradient(45deg, #34a0e8, #af72c8);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
}

.form-group {
    margin: 20px 0;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 10px;
}

/* Style for the select element */
select {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove default arrow in some browsers */
    background-color: #fff;
    width: 200px;
    outline: none; /* Remove default focus outline */
}

/* Style for the options within the select */
option {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
}

/* Style for the select when focused */
select:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
}
